:root {
    --background-color: #F0F2F5;
}

* {
    box-sizing:border-box;
    transition: .2s;
}

body {
    background-color: var(--background-color);
}

table tbody tr {
    vertical-align: middle;
}

table tr th:last-child,
table tr td:last-child {
    text-align: right;
}

table tbody tr:hover {
    background-color: #F0F2F5;
}