@using TrainTicketBooking.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Route List";
}
@model List<Route>
<div class="container-lg">
    <div class="p-3 bg-white rounded-3 shadow-sm my-3">
        <table class="w-100">
            <thead>
                <tr>
                    <th>Route</th>
                    <th>From - To</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Route route in Model)
                {
                    <tr class="my-2">
                        <td class="py-3 ps-3 bg-light rounded-start">
                            <div>
                                @route.RouteName
                            </div>
                        </td>
                        <td>@route.FromNavigation.LocationName - @route.ToNavigation.LocationName</td>
                        <td>@(route.Duration)h</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>