<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/Style.css" rel="stylesheet">
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body>
    <div class="bg-white py-2 px-3">
        <div class="d-flex justify-content-between">
            <div>
                <a href="/route/list" class="nav-link text-muted">Chuyến đi</a>
            </div>
            <div>
                <a href="/cart/list" class="btn btn-light">Giỏ hàng</a>
            </div>
        </div>
    </div>
        @RenderBody()
</body>
@RenderSection("scripts")
</html>